<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder default type is ch.qos.logback.classic.encoder.PatternLayoutEncoder-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %level [%thread] %X{requestid} %logger{10} "%msg" %replace(%ex){'[\n]+', '\\n'}%nopex%n</pattern>
        </encoder>
    </appender>
    <appender name="EmitToGraphiteLogbackAppender"
              class="com.expedia.www.haystack.metrics.appenders.logback.EmitToGraphiteLogbackAppender">
        <host>localhost</host>
        <subsystem>pipes-secret-detector</subsystem>
    </appender>
    <logger name="com.expedia.www.haystack.pipes.secretDetector.Detector" additivity="false" level="INFO">
        <appender-ref ref="STDOUT" /><!-- Display the INFO messages of what secrets have been found -->
    </logger>
    <logger name="com.expedia.www.haystack.pipes.commons.kafka.KafkaStreamStarter" additivity="false" level="INFO">
        <appender-ref ref="STDOUT" /><!-- Display start up message without flooding logs with other info messages -->
    </logger>
    <logger name="com.expedia.www.haystack.pipes.secretDetector.DetectorAction" additivity="false" level="INFO">
        <appender-ref ref="STDOUT" /><!-- Display start up message without flooding logs with other info messages -->
    </logger>
    <logger name="com.netflix.servo.publish.graphite.GraphiteMetricObserver" additivity="false" level="INFO">
        <appender-ref ref="STDOUT" /><!-- Display start up message without flooding logs with other info messages -->
    </logger>
    <logger name="com.expedia.www.haystack.pipes.secretDetector.S3ConfigFetcher" additivity="false" level="INFO">
        <appender-ref ref="STDOUT" /><!-- S3ConfigFetcher.getWhiteListItems() logs hourly on refresh, providing a heartbeat  -->
    </logger>
    <root level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="EmitToGraphiteLogbackAppender" />
    </root>
</configuration>
